/* Login page*/

.login_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.welcome_title{
    color: rgb(68, 68, 68);
    font-size: 40px;
    margin-bottom: 5px;
}

h2.BB_title{
    color: rgb(68, 68, 68);
    font-size: 25px;
    margin:  10px 0 50px 0;
}

.email_input, .psw_input {
    height: 20px;
    width: 220px;
    color: rgb(151, 151, 151);
    font-size: 15px;
    border: none;
    border-bottom: 1px solid rgb(151, 151, 151);
    padding: 5px;
    margin : 0 0 20px;
    
}

.submit_input{
    height: 20px;
    width: 220px;
    margin : 15px 0 20px;
}

.login_button{
    height: 20px;
    width: 220px; 
    color: rgb(88, 88, 88);
    border: none;
    border-radius: 4px;
    padding: 10px 0 25px;
    text-align: center;
    font-size: 15px;
}

.login_button:hover{

}
